body{
    background-color: blanchedalmond;
}
header{
    background-color: black;
    color: white;
    text-align: center;
    height: 60px;
    padding: 15px;
}
ul li{
    text-decoration: none;
    list-style: none;
}
h3{
    width: 20%;
}
.btn{
    border-radius: 25%;
    background-color: black;
    color: white;
    width: 10%;
}
img{
    width: 330px;
}
p{
    width: 20%;
}